/* body */
body {
  overflow: hidden; /* hide scrollbars */
  color: white;
  height: 100%;
  width: 100%;
}

/* rendered background */
#render {
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;	
	z-index: -1;
}

/* jumbo */
.jumbotron {
	backdrop-filter: blur(6px);
	background-color: #000000A0 !important;
}

/* links */
a, a:visited, a:active {
	color: #00ffff !important;
}